{% extends "base.html" %}
{% block title %} private_trace {% endblock %}

{% block content %}
<div style="justify-self: center; align-self: center;">
  <img src={{icon}} class="img-fluid" alt="private_ trace">
<!--<div class="justify-content-center align-self-center">-->

<form method="POST">
<div style="display: flex; justify-content: center;">
 <button type="submit" class="btn btn-primary" style="width:30vh; margin-top:3vh" name="account_type" value="user">
    User
  </button>
</div>
<div style="display: flex; justify-content: center;">
 <button type="submit" class="btn btn-secondary" style="width:30vh; margin-top:3vh" name="account_type" value="operator">
    Operator
  </button>
</div>
</form>
{% endblock %}