{% extends "base.html" %}
{% block title %} private_trace {% endblock %}

{% block content %}
<!--<div class="justify-content-center align-self-center">-->
<form style ="display: grid; grid-row-start: 2; grid-row-end: 3;"></form>
  <div style="justify-self: center; align-self: center;">
    <p><img src={{icon}} class="img-fluid" alt="private_ trace"></p>
  </div>
    <!--<h1>MAIN PAGE FOR LOGIN</h1>-->  
  <div class="btn">
    <p><a href="{{ url_for('user_login') }}" type="submit" class="btn btn-primary">User</a></p>
  
    <p><a href="{{ url_for('operator_login') }}" type="submit" class="btn btn-primary">Operator</a></p>
  </div>
</div>
<div class="btn">
  <a href="{{ url_for('operator_login') }}" type="submit" class="btn btn-primary">Operator</a>
</div>

{% endblock %}