{% extends "base.html" %}
{% block title %} private_trace {% endblock %}

{% block content %}
<div style="justify-self: center; align-self: center;">
  <img src={{icon}} class="img-fluid" alt="private_ trace">
</div>

{% with messages = get_flashed_messages() %}
{% if messages %}
  <div
    class="alert alert-danger"
    style="grid-row-start: 2; grid-row-end: 3; justify-self: center; align-self: center;"
  >
    {{ messages[0] }}
  </div>
{% endif %}
{% endwith %}

<form method="POST" style="grid-row-start: 3; grid-row-end: 4; justify-self: center">
  <!-- <h1>Operator login</h1> -->
  <div style="display: grid; justify-self: center">
    <div class="form-group">
      <label for="ope_email">Email address</label>
      <input type="email" name="operator_email" class="form-control" id="ope_email" aria-describedby="emailHelp" required>
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="ope_password">Password</label>
      <input type="password" name="password" class="form-control" id="ope_password" required>
    </div>
    <div class="form-group">
      <label for="ope_confirm_password">Confirm Password</label>
      <input type="password" name="confirm_password" class="form-control" id="ope_confirm_password" required>
    </div>
    <button type="submit" class="btn btn-primary" style="justify-self: center; align-self: center" onclick="showToast()">
      Signup
    </button>
  </div>
</form>

<div style="grid-row-start: 4; grid-row-end: 5; justify-self: center; align-self: center">
  <a type="button" href="{{ url_for('operator_login') }}" class="btn btn-secondary" style="justify-self: center; align-self: center; margin-left: 25px" describedby="alreadyRegistered">
    Login
  </a>
  <small id="alreadyRegistered" class="form-text text-muted">Already registered?</small>
</div>
{% endblock %}
