{% extends "base.html" %}
{% block title %} private_trace {% endblock %}

{% block content %}
<div style="justify-self: center; align-self: center;">
  <img src={{icon}} class="img-fluid" alt="private_ trace">
</div>
<form method="POST" style="display: grid; grid-row-start: 2; grid-row-end: 3;">
  <!-- <h1>Operator login</h1> -->
  <div style="justify-self: center">
    <div class="form-group">
      <label for="ope_email">Email address</label>
      <input type="email" name="operator_email" class="form-control" id="ope_email" aria-describedby="emailHelp" required>
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="ope_password">Password</label>
      <input type="password" name="password" class="form-control" id="ope_password" required>
    </div>
  </div>
  <button type="submit" name="submit_button" value="login" class="btn btn-primary" style="justify-self: center; align-self: center">
    Login
  </button>
  <div style="justify-self: center; align-self: center">
    <button type="submit" name="submit_button" value="signup" class="btn btn-secondary" style="justify-self: center; align-self: center; margin-left: 20px" describedby="alreadyRegistered">
      Signup
    </button>
    <small id="alreadyRegistered" class="form-text text-muted">Haven't registered?</small>
  </div>
</form>
{% endblock %}
