{% extends "base.html" %}
{% block title %} private_trace {% endblock %}

{% block content %}
<div style="justify-self: center; align-self: center;">
  <img src={{icon}} class="img-fluid" alt="private_ trace">
</div>

<div style="justify-self: center; align-self: center;">
    <img src={{qr}} class="img-fluid" alt="QR Code">
</div>

<div style="justify-self: center; align-self: center;">
    <a href="{{ url_for('operator_scan') }}" type="button" class="btn btn-secondary">Scan QR Code</a>
</div>
{% endblock %}
