{% extends "base.html" %}
{% block title %} private_trace {% endblock %}

{% block content %}
<div style="justify-self: center; align-self: center;">
  <img src={{icon}} class="img-fluid" alt="private_ trace">
</div>

<form method="POST">
<div class="justify-self-center">
  <div class="form-group">
    <input class="form-control" type="tel" name="phone_number" id="phone" 
        pattern="0{1}[0-9]{9}" placeholder="Phone number">
    <input class="form-control" type="email" name="user_email" id="email" placeholder="Email"
        style="margin-top:3vh">
  </div>
</div>

<div style="display: flex; justify-content: center;">
 <button type="submit" class="btn btn-primary" style="width:30vh; margin-top:3vh">
    Login
  </button>
</div>

</form>

{% endblock %}