{% extends "base.html" %}
{% block title %} private_trace {% endblock %}

{% block content %}
<img src={{icon}} class="img-fluid" alt="private_ trace">

<!-- form has no action yet -->
<div class="d-flex align-items-center" style="position:fixed; top:45%">
    <form method="post">
    <div class="form-group">
        <input class="form-control" type="tel" name="phone" id="phone" 
            pattern="0{1}[0-9]{9}" placeholder="Phone number">
    </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
    </div>
</div>
{% endblock %}