{% extends "base.html" %}
{% block title %} private_trace {% endblock %}

{% block content %}
<div style="justify-self: center; align-self: center;">
  <img src={{icon}} class="img-fluid" alt="private_ trace">
</div>

<div style="justify-self: center; align-self: center;">
    <img src={{qr}} class="img-fluid" alt="QR Code">
</div>

<div style="justify-self: center; align-self: center;">
<form action="" method="post">
    <button type="submit" class="btn btn-secondary">Scan QR Code</button>
</form>
</div>
<!-- <div style="justify-self: center;">
    <button type="submit" name="option" value="generate" class="btn btn-secondary">Generate QR Code</button>
</div> -->
{% endblock %}
